<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//cdn.bootcss.com"/>
    <link rel="dns-prefetch" href="//secure.gravatar.com"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="favicon.ico">
    <title>94iMM -妹子图片分享</title>
    <meta name="keywords" content="妹子图片,美女图片,性感美女,丝袜美腿,清纯,少女,萝莉"/>
    <meta name="description" content="分享高品质美女图片，快速无弹窗。可以长期收藏的美女图片站">
    <link href="lib/94imm/css/xcode.min.css" rel="stylesheet">
    <link href="lib/94imm/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/94imm/js/html5.min.js"></script>
    <script src="lib/94imm/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->


<div id="app">
    <header id="header" class="header bg-white">
        <div class="navbar-container">
            <a href="#" class="navbar-logo">
                MM </a>
            <div class="navbar-menu">
                <button @click="send('zf',true)">御姐</button>
                <button @click="send('xg',true)">少妇</button>
                <button @click="send('ll',true)">萝莉</button>
            </div>

            <div class="navbar-mobile-menu" onclick="">
                <span class="icon-menu cross"><span class="middle"></span></span>
                <ul>
                    <li><a href="/">首页</a></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="main-content index-page clearfix " id="container">
        <div class="post-lists">
            <div class="post-lists-body" v-for="item in pic">
                <div class="post-list-item">
                    <div class="post-list-item-container">

                        <div class="item-thumb  bg-deepgrey" :style=loadPic(item.filePath)>

                        </div>
                        <a href="{% url 'article' imglist.pid %}">
                            <div class="item-desc">
                                <p>{{item.fileName}}</p>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
        <div class="lists-navigator clearfix">

        </div>


    </div>
</div>


</body>
<script src="lib/94imm/js/headroom.min.js"></script>
<script src="lib/94imm/js/pd.js"></script>
<script src="lib/vue/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
<script>

    var data = {
        end: false,
        loading: false,
        tips: '已经被你看光啦...',
        baseUrl: 'http://127.0.0.1:8089/',
        type: 'xg',
        pic: []
    };
    var app = new Vue({
        el: '#app',
        data: data,
        beforeMount: function () {
            this.send(data.type);
        },
        mounted: function () {
            // 添加滚动事件，检测滚动到页面底部
            this.scroll(data.type)
        },
        methods: {
            loadPic: function (filePath) {
                return 'background-image:url(' + filePath + ')'

            },
            send: function (type,newpage) {
                if(type!==data.type){
                    data.pic=[];
                }
                if(newpage===true){
                    data.pic=[];
                }
                data.type=type;
                axios({
                    method: 'get',
                    url: this.baseUrl + 'pic/page?type=' + type,
                    timeout: 30000
                }).then(function (res) {
                    console.log(res.data.data.data);
                    if (res.data.data.data.length > 0) {
                        this.data.pic = this.data.pic.concat(res.data.data.data);
                        data.loading = false;
                    } else {
                        data.end = true
                    }

                })
                ;
            },
            scroll: function (type) {
                var _this = this;
                window.onscroll = function (ev) {
                    // 距离底部200px时加载一次
                    var bottomOfWindow = document.documentElement.offsetHeight - document.documentElement.scrollTop - window.innerHeight <= 200;
                    if (bottomOfWindow && data.loading === false) {
                        data.loading = true;
                        console.log("loading...")
                        _this.send(type);
                    }
                }
            }
        }
    })
</script>


</html>
